@use "./veriables" as v;

.add-client-main {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 60px);
  inset: 0;
  z-index: 2;
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.75);

  .add-client-container {
    width: 50vw;
    height: 500px;

    background-color: v.$dark;
    position: relative;

    border-radius: 10px;

    .title {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      button {
        top: 10px;
        right: 10px;
        padding: 0 !important;
        background: none !important;
        margin: 0 !important;
        height: auto;

        color: v.$light !important;

        &:hover {
          color: v.$orange !important;
        }
      }
    }

    .add-client-form {
      width: 100%;
      height: 440px;

      overflow-y: scroll;

      padding: 20px;

      form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .line {
          margin: 10px 0;
        }

        .form-input {
          display: flex;
          align-items: center;
          gap: 1em;

          flex-direction: column;
          align-items: flex-start;
        }

        input[type="text"] {
          width: 50%;
        }

        button {
          position: relative;
          padding: 0 16px;
          background-color: v.$darkBg;
          margin-left: 10px;

          &:hover {
            background-color: v.$light;
          }
        }

        button[type="submit"] {
          position: relative;
          width: 100%;
          color: v.$dark;
          background-color: v.$orange;
          padding: 0 16px;
          margin-left: 10px;

          &:hover {
            color: v.$dark;
            background-color: v.$blue;
          }
        }

        .rich-text-input {
          flex-direction: column;
          align-items: flex-start;
          border-radius: 10px;

          button {
            background: none;
          }

          .rich-text-editor {
            width: 100%;
            height: 150px;
            margin-bottom: 50px;
          }

          .ql-toolbar {
            border-radius: 10px 10px 0 0;
            //background-color: v.$lightOff;
          }

          .ql-container {
            border-radius: 0 0 10px 10px;
            //background-color: v.$lightOff;
            font-weight: 100;
          }

          .ql-editor {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.upload-image-main {
  .upload-image-container {
    position: relative;
    width: 100px;
    height: 100px;

    button {
      background: none !important;
    }
  }
}

.upload-all-files-container {
  .uploaded-all-files {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: v.$darkBg;
    border-radius: 10px;

    span {
      margin-left: 16px;
    }

    button {
      &:hover {
        background: none !important;
      }
    }
  }
}
