@use "./veriables" as v;

.portal-main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: v.$dark;
  z-index: 1;

  overflow: hidden;
}

.login-card-container {
  width: 60vw;
  height: 500px;

  border-radius: 10px;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);

  z-index: 5;

  border: 1px solid v.$light;

  display: flex;

  .circl-glow {
    background: v.$light;

    position: absolute;
    transform: translate(-550px, -360px);

    border-radius: 100%;
    filter: blur(100px);

    opacity: 0.8;

    z-index: 5;

    mix-blend-mode: overlay;

    transition: display 100ms ease;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
  }

  .login-left-card {
    position: relative;

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-right: 1px solid v.$light;
    z-index: 6;

    .circl-logo {
      position: relative;
      width: 600px;
      height: 100px;
    }

    h2 {
      bottom: 0;
      height: 50px;
      width: 100%;

      position: absolute;
      color: v.$light;
      font-family: v.$helvetica;
      text-transform: uppercase;

      font-size: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;

      border-top: 1px solid v.$light;
    }
  }

  .login-right-card {
    width: 50%;
    height: 100%;
    z-index: 6;
    position: relative;

    form {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      gap: 0.6em;

      .login-title {
        width: 60%;
        h2 {
          text-align: center;
          color: v.$light;
          font-size: 3rem;
          font-family: v.$helveticaMed;
          line-height: 1;
        }

        p {
          text-align: center;
          color: v.$light;
          margin: 15px 0;
          font-size: 0.9rem;
        }
      }

      input,
      button {
        width: 60%;

        background: rgba(0, 0, 0, 0.5);

        border-radius: 10px;

        border: none;

        height: 40px;

        font-size: 1rem;
        color: v.$light;

        padding: 0 12px;
      }

      input {
        font-family: v.$helveticaLight;
        font-weight: 100;
      }

      button {
        cursor: pointer;
        background: v.$light;
        color: v.$dark;

        &:hover {
          background: v.$orange;
          color: v.$light;
        }
      }
    }
  }
}

.infinity-one {
  position: fixed;
  right: -1200px;
  top: -600px;

  width: 2000px;
  height: 2000px;
  z-index: 4;

  transform: rotate(45deg);
  filter: blur(10px);
}

.infinity-two {
  position: fixed;
  left: -1200px;
  bottom: -1400px;

  width: 2000px;
  height: 2000px;
  z-index: 4;

  transform: rotate(-45deg);
  filter: blur(5px);
}

.circl-bg {
  position: fixed;
  backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 900px;
  z-index: 4;
}

.circl-red {
  top: 80px;
  left: 260px;

  background: v.$orange;
  background: linear-gradient(45deg, v.$orange, v.$purple);

  width: 250px;
  height: 250px;
  filter: blur(20px);
}

.circl-blue {
  bottom: -160px;
  right: 280px;

  background: v.$darkBlue;
  background: linear-gradient(45deg, v.$darkBlue, v.$lightBlue);

  width: 400px;
  height: 400px;
  filter: blur(15px);
}

.aurora {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: v.$dark;
  z-index: 2;
  opacity: 0.75;

  top: 0;
  left: 0;
}

.aurora:before,
.aurora:after {
  z-index: 1;

  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  opacity: 0.18;
}

.aurora:before {
  box-shadow: 0 0 35vmax 35vmax v.$orange;
  animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
}

.aurora:after {
  box-shadow: 0 0 35vmax 35vmax v.$lightBlue;
  animation: hue 10s 0s linear infinite, move2 20s 0s linear infinite;
}

@-moz-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@-o-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@-moz-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }

  25% {
    left: 0vw;
  }

  50% {
    top: 100vh;
  }

  75% {
    left: 100vw;
  }

  100% {
    top: 0vh;
    left: 50vw;
  }
}

@-webkit-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }

  25% {
    left: 0vw;
  }

  50% {
    top: 100vh;
  }

  75% {
    left: 100vw;
  }

  100% {
    top: 0vh;
    left: 50vw;
  }
}

@-o-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }

  25% {
    left: 0vw;
  }

  50% {
    top: 100vh;
  }

  75% {
    left: 100vw;
  }

  100% {
    top: 0vh;
    left: 50vw;
  }
}

@keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }

  25% {
    left: 0vw;
  }

  50% {
    top: 100vh;
  }

  75% {
    left: 100vw;
  }

  100% {
    top: 0vh;
    left: 50vw;
  }
}

@-moz-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }

  25% {
    top: 100vh;
  }

  50% {
    left: 0vw;
  }

  75% {
    top: 0vh;
  }

  100% {
    top: 50vh;
    left: 100vw;
  }
}

@-webkit-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }

  25% {
    top: 100vh;
  }

  50% {
    left: 0vw;
  }

  75% {
    top: 0vh;
  }

  100% {
    top: 50vh;
    left: 100vw;
  }
}

@-o-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }

  25% {
    top: 100vh;
  }

  50% {
    left: 0vw;
  }

  75% {
    top: 0vh;
  }

  100% {
    top: 50vh;
    left: 100vw;
  }
}

@keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }

  25% {
    top: 100vh;
  }

  50% {
    left: 0vw;
  }

  75% {
    top: 0vh;
  }

  100% {
    top: 50vh;
    left: 100vw;
  }
}

@media screen and (max-width: 1190px) {
  .login-card-container {
    flex-direction: column;
    width: 60vw;
    height: 600px;

    .login-left-card {
      width: 100%;
      height: 40%;

      h2 {
        border-bottom: 1px solid v.$light;
      }
    }
    .login-right-card {
      width: 100%;
      height: 60%;

      form {
        .login-title {
          width: 50%;
        }
        input,
        button {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .circl-logo {
    height: 60px !important;

    img {
      top: -15px !important;
    }
  }
  .login-card-container {
    width: 90vw;

    .login-left-card {
      height: 200px;
    }
    .login-right-card {
      width: 100%;
      height: 60%;

      form {
        .login-title {
          width: 80%;
        }
        input,
        button {
          width: 80%;
        }
      }
    }
  }
}

.background-animation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
}

.finger-texture {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  inset: 0;

  .texture {
    mix-blend-mode: screen;
    opacity: 0.2;
  }
}
