@use "./veriables" as v;

.clients-admin-container {
  width: 100%;
  height: calc(100vh - 60px);

  display: flex;
  gap: 10px;
  padding: 10px;

  .navigation {
    width: 20vw;

    padding: 10px;
    border-radius: 10px;

    background-color: v.$dark;

    .card {
      width: 100%;
      height: 40px;
      border-radius: 10px;

      padding: 0 16px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      //*-> colors
      color: v.$light;
      background-color: v.$dark;

      &:hover {
        color: v.$dark;
        background-color: v.$orange;
      }
    }

    .active {
      background-color: v.$blue;
      &:hover {
        background-color: v.$blue;
      }
    }
  }

  .view-area {
    width: 60vw;

    padding: 10px;
    border-radius: 10px;

    background-color: v.$dark;

    display: flex;
    flex-direction: column;
    gap: 1em;

    .added-clients-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      button {
        cursor: pointer;
        padding: 0 15px;
        width: auto;
        background-color: v.$light;
        color: v.$dark;

        display: flex;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: 10px;

        &:hover {
          color: v.$dark;
          background-color: v.$blue;
        }
      }

      form {
        width: 300px;
        position: relative;

        button {
          cursor: pointer;
          width: auto;
          position: absolute;
          right: 10px;
          padding: 0;
          margin: 0;

          color: v.$light;
          background: none;

          &:hover {
            background: none;
            color: v.$orange;
          }
        }
      }
    }

    form {
      width: 300px;
      position: relative;

      button {
        cursor: pointer;
        width: auto;
        position: absolute;
        right: 16px;
        top: 0;
        color: v.$light;

        &:hover {
          color: v.$orange;
        }
      }
    }
    .added-clients {
      width: 100%;

      border-radius: 10px;

      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      overflow-y: scroll;
    }
  }

  .right {
    width: 20vw;

    padding: 10px;
    border-radius: 10px;

    background-color: v.$dark;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .admin-settings {
      width: 100%;
      height: 60px;
      border-radius: 10px;

      padding: 0 10px;
      background-color: v.$green;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .tcs-logo-container {
        position: relative;
        width: 40px;
        height: 40px;

        background-color: v.$dark;
        border-radius: 100%;

        img {
          padding: 10px;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h3 {
          color: v.$dark;
        }

        p {
          font-size: 0.8em;
          color: v.$darkBg;
        }
      }
    }

    button {
      cursor: pointer;
      padding: 0 10px;
      width: auto;
      background-color: v.$darkBg;
      color: v.$light;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: v.$dark;
        background-color: v.$orange;
      }
    }
  }
}
