@use "./veriables" as v;

.admin-header-container {
  position: relative;
  width: 100vw;
  background-color: v.$dark;

  .admin-header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid v.$light;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8vw;

    .left-header {
      display: flex;
      width: auto;
      align-items: center;
      gap: 1em;
      a {
        .logo-client-admin {
          position: relative;
          height: 40px;
          width: 200px;
        }
      }
      a {
        p {
          padding: 10px 15px;
          height: 25px;

          border-radius: 25px;
          background-color: v.$dark;
          display: flex;
          align-items: center;
          justify-content: center;

          color: v.$lightBlue;

          &:hover {
            background-color: v.$light;
            color: v.$dark;
          }
        }
      }
    }

    .right-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      button {
        cursor: pointer;
        background: v.$light;
        color: v.$dark;

        background: none;

        border: none;

        height: 20px;

        font-size: 0.8rem;
        color: v.$light;

        display: flex;
        gap: 0.6em;
        justify-content: center;
        align-items: center;

        &:hover {
          color: v.$lightBlue;
        }

        border-right: 1px solid v.$light;
        padding-right: 1em;

        &:nth-of-type(3) {
          border: none;
        }
      }
    }
  }
}

.admin-dashboard-container {
  position: relative;
  z-index: 8;
  width: 100vw;
  min-height: 100vh;

  padding: 40px 8vw;
  padding-top: 100px;
  color: v.$light;

  &::after {
    content: "";
    width: 100vw;
    height: 100vh;

    position: fixed;
    inset: 0;

    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
  }

  .dashboard-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    position: relative;
    z-index: 2;

    .only-logo {
      position: relative;
      width: 100px;
      height: 100px;
    }

    h2 {
      font-size: 4rem;
    }

    button {
      cursor: pointer;
      background: v.$light;
      color: v.$dark;

      background: rgba(0, 0, 0, 0.5);

      border-radius: 10px;

      border: none;

      height: 40px;

      font-size: 1rem;
      color: v.$light;

      padding: 0 12px;
      margin-bottom: 20px;
      display: flex;
      gap: 0.5em;
      justify-content: center;
      align-items: center;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .clients-container {
    width: 100%;

    color: v.$light;

    display: grid;

    padding-top: 40px;

    border-top: 1px solid v.$light;
    position: relative;
    z-index: 2;

    form {
      width: 33.33%;
      padding-bottom: 40px;
      display: flex;
      input {
        width: 100%;

        background: rgba(0, 0, 0, 0.5);

        border-radius: 10px;

        border: none;

        height: 40px;

        font-size: 1rem;
        color: v.$light;

        padding: 0 12px;
      }
      button {
        background: none;
        border: none;
        cursor: pointer;

        .search-icon {
          margin-left: -50px;
        }
      }
    }

    .client-cards {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      padding-bottom: 20px;
    }

    @media screen and (max-width: 1150px) {
      .client-cards {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media screen and (max-width: 770px) {
      .client-cards {
        grid-template-columns: 1fr;
      }
    }

    .client-card {
      padding: 25px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      gap: 1.5em;

      background: rgba(255, 255, 255, 0.188);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(50px);

      border: 1px solid v.$light;
      border-radius: 10px;

      .client-logo-container {
        position: relative;
        width: 60px;
        height: 60px;
      }

      h3 {
        margin: 0;
        margin-right: auto;
      }

      button {
        cursor: pointer;
        background: v.$light;
        color: v.$dark;

        background: rgba(0, 0, 0, 0.5);

        border-radius: 10px;

        border: none;

        height: 40px;

        font-size: 1rem;
        color: v.$light;

        padding: 0 12px;
        margin: 0;

        display: flex;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
      }
    }
  }
  button {
    &:hover {
      background: rgba(0, 0, 0, 0.75) !important;
      backdrop-filter: blur(50px);
      color: v.$lightBlue !important  ;
    }
  }
}
