@use "./veriables" as v;

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

body {
  line-height: 1.3;
  font-family: v.$helvetica;
  overflow-x: hidden;
  color: v.$light;
  background-color: v.$darkBg;
}

a {
  text-decoration: none;
  color: v.$blue;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: v.$helvetica;
}

//*----------> mediaQuroes

//*----------> smartWatch

// @media screen and (max-width: 270px)

//*----------> smallMobile

// @media screen and (min-width: 271px) and (max-width: 360px)

//*----------> largeMobile

// @media screen and (min-width: 361px) and (max-width: 767px)

//*----------> Tablets

// @media screen and (min-width: 768px) and (max-width:1023px)

//*----------> Desktop

// @media screen and (min-width: 1024px) and (max-width:1280px)

//*----------> Largedesktop

// @media screen and (min-width:1280px)
