@use "./defaults";
@use "./veriables" as v;
@use "./settings-container";
@use "./clients";
@use "./clients-admin";
@use "./add-clients";

.main-container {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}
